table {
    
    
    border-collapse: collapse;
    margin: auto;
    display: -webkit-box;

}

tr {
   
    
    display: -webkit-box;
 
}

td {
    
    border: 1px solid black;
    border-collapse: collapse;
    height: 100px;
    width: 100px !important;
    margin: auto;
    display: -webkit-box;

}